<h1>Listing timecards</h1>

<table>
  <tr>
    <th>Workdate</th>
    <th>Cardtext</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timecards.each do |timecard| %>
  <tr>
    <td><%= timecard.workdate %></td>
    <td><%= timecard.cardtext %></td>
    <td><%= link_to 'Show', timecard %></td>
    <td><%= link_to 'Edit', edit_timecard_path(timecard) %></td>
    <td><%= link_to 'Destroy', timecard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timecard', new_timecard_path %>
